.all-orders{
    overflow-y:auto;
}

.order-info{
    width: 100%;
    height: fit-content;
    margin: 10px 0px;
    background-color: lightgreen;
    color: white;
    border-color: darkgreen;
    border-radius: 5px;
    border-style: solid;
    position: relative;
}

.order-info p{
    padding: 0;
    margin: 0;
    color: black;
}

.order-info button{
    position: absolute;
    right: 0;
    bottom: 0;
}


