.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.orders{
  background-color: black;
  min-width: 35vw;
  min-height: 100vh;
  border-radius: 15px;
  border-color: lightgreen;
  border-style: solid;
}

@media only screen and (max-width: 600px) {
  .orders {
    min-width: 100vw;
  }
}

.orders h1{
  color: lightgreen;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  margin: 0px 0px 0px 10px;
}

.orders header{
  display: flex;
  justify-content:space-between;
  margin: 5px;
}